body {
    background-color: #000000;
}
p {
    color: #FFFFFF;
}
a {
    color: #FF006F;
}
a:hover {
    color:#FFFFFF
}
a:visted {
    color: #D8D8D8; 
}
h1, h2, caption {
    color:#FF006F;
}
nav a {
    color:#FF006F;
}
nav a:hover {
    color: #fff538;
}
nav {
    padding: 10px;
    margin-bottom: 30px;
}
ul {
    color: #FFFFFF;
}
form, label, textarea, table, tr,td,th{ 
    color: #FFFFFF;
}
tr.evenrow {
    background-color: #696767
}